// Table of Content
// a. Colors defined
// 2. Fonts
// 3. Containers

// =================================
// a. Colors defined
// =================================

// grays scale colors
// ---------------------
@white       : #FFFFFF;
@ghost       : #FAFAFA;
@snow        : #F9F9F9;
@vapor       : #F6F6F6;
@white-smoke : #F5F5F5;
@silver      : #EFEFEF;
@smoke       : #EEEEEE;
@gainsboro   : #DDDDDD;
@iron        : #CCCCCC;
@base        : #AAAAAA;
@aluminum    : #999999;
@jumbo       : #888888;
@monsoon     : #777777;
@steel       : #666666;
@charcoal    : #555555;
@tuatara     : #444444;
@oil         : #2E2E2E;
@jet         : #222222;
@black       : #000000;

// ===========
// 2. Fonts
// ===========
@font-family-novecento : "novecento_sans_wide", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

// =============
// 3. Containers
// =============
@wrap-header : '#masthead';
@wrap-content : '#content.content-warp';
