/*
* Footer - site
* --------------
*/
#footer {
	 background-color: @brand-primary;
	 padding: 25px 0px;
	 color: @white;

	 .social-icons {
			a {
				color: @white;
				.parallax-one-footer-icons {
					color: inherit;
				}
			}
	 }

	 .footer-bottom-wrap {
	 		display: table;
	 		width: 100%;

	 		.footer-seccions {
				display: table-cell;
				vertical-align: middle;
				height: auto;
				float: none;

				.widget {
					margin: 0;
				}
	 		}
	 }
}
